
</div><!--/.container-->

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#ancreaccueil" class="navbar-brand"><i class="fa fa-laptop" aria-hidden="true"><img src="/images/sitelog/logo.png"  height="35" class="d-inline-block align-top" alt=""></i></a>
            <!-- responsive de la navbar-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/homme">Homme</a></li>
                <li><a href="/femme">Femme</a></li>
                <li><a href="/accessoire">Accessoire</a></li>
                <li><a href="#">Partenaire</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>
</nav>


