<!DOCTYPE html>

    <html>
<% include partials/headback.ejs %>
<body>
<% include partials/navback.ejs%>



<div class="container-fluid">

<form class="form-horizontal"  method="POST" action="/admin/article">
    <fieldset>

        <!-- Form Name -->
        <legend>PRODUCTS</legend>
        <!-- Text input-->


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
            <div class="col-md-4">
                <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORIE</label>
            <div class="col-md-4">
                <select id="product_categorie" name="product_categorie" type="text" class="form-control">
                    <option value="Homme">Homme</option>
                    <option value="Femme">Femme</option>
                    <option value="Accessoire">Accessoire</option>
                </select>

            </div>
        </div>



        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="online_date">PRIX</label>
            <div class="col-md-4">
                <input id="online_date" name="prix" placeholder="PRIX" class="form-control input-md" required="" type="text">

            </div>
        </div>
<!--file button-->
                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="image">main_image</label>
                    <div class="col-md-4">
                        <input id="image" name="image" class="input-file" type="file">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ajouter">Single Button</label>
                    <div class="col-md-4">
                        <button id="ajouter" name="ajouter" class="btn btn-primary">Enregister</button>
                    </div>
                </div>

    </fieldset>
</form>

</div>


</body>

</html>



